:root {
    --gentFont: 'Gentium Book Plus', serif;
}

/* Navigation link styling */
nav {
    padding-top: 15px;
    margin-right: 30px;
    text-align: right;
    font-family: "MonteCarlo", cursive;
    font-weight: 800;
    font-size: 30px;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    background-image: url("../images/goldborder.png");
    background-size: 120px 110px;
    background-repeat: no-repeat;
    /* padding: top right bottom left */
    padding: 40px 30px 40px 30px; 
    background-position:center;
}

body {
    background-image: url("../images/rosebg.jpeg");
    background-size: 720px 1080px;
}

section {
    text-align: center;
    border-radius: 1px;
    background-image: url("../images/parch.png");
    background-size: 500px 500px;
    margin: 80px 260px;
    padding: 20px;
}

section h2 {
    font-size: 40px;
    font-family: "MonteCarlo", cursive;
    color: white;
    font-size: 70px;
    filter: drop-shadow(2px 2px 2px black);
}

section article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 30px;
    line-height: 30px;
}

footer h2 {
    text-align: center;
    font-size: 20px;
    color: rgb(129, 96, 96);
    padding: 12px;
    font-family: var(--gentFont);
}