/* Navigation link styling */
nav {
    margin-top: -26px;
    margin-right: 22px;
    text-align: right;
    font-family: "MonteCarlo", cursive;
    font-weight: 800;
    font-size: 30px;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    background-image: url("../images/goldborder.png");
    background-size: 120px 110px;
    background-repeat: no-repeat;
    /* padding: top right bottom left */
    padding: 40px 30px 40px 30px; 
    background-position:center;
}

body {
    background-image: url("../images/rosebg.jpeg");
    background-size: 720px 1080px;
}

section {
    text-align: left;
    border-radius: 1px;
    background-color: hsla(339, 66%, 68%, 0.635);
    margin: 80px 260px;
    padding: 20px 20px 60px 20px;
}

section h2 {
    font-family: "MonteCarlo", cursive;
    color: rgb(229, 214, 214);
    font-size: 70px;
    filter: drop-shadow(2px 2px 2px black);
    margin: 10px;
}

section p {
    text-align: center;
    font-family: 'Gentium Book Plus', serif;
    font-size: 30px;
    margin: 10px;
}